<div class="row">
  <div class="col-2 pr-0">
    <div class="block-code sidenav">
      <a class="top-a">Art Antiques</a>
      <a>Jewellery</a>
      <a>Furniture</a>
      <a>Rare Books</a>

      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary btn-antique"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Price
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Country</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary btn-antique"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Country
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Country</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary btn-antique"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Price
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Country</button>
        </div>
      </div>

      <div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">&raquo;</a>
</div>
    </div>
  </div>
  <div class="col-10 grid-code">
    <div class="row padding-t">
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
    </div>
     <div class="row">
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
    </div>
     <div class="row">
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
    </div>
     <div class="row">
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
      <div class="col-3 pr-0">
        <img src="assets/img/portfolio/thumbnails/6.jpg" style="width: 100%;" />
        <p>Ripped Skinny Jeans<br /><b>$24.99</b></p>
      </div>
    </div>
  </div>
</div>
