<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-pos">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active font-size">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item font-size">
        <a class="nav-link pointer" (click)="OpenLink('/store')">Store</a>
      </li>
      <li class="nav-item font-size">
        <a class="nav-link" href="#">Forum</a>
      </li>
      <li class="nav-item font-size">
        <a class="nav-link" href="#">Catalog</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
</body>
